@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 50px;
}

#header {
  grid-column: 1 / -1;
}

#header > h1 {
  @apply text-6xl font-bold;
}

input {
  @apply input input-bordered;
}
